
/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	font-size:50px;
}
.item-1{
	height:100px;
	width:100px;
	background:red;
	order:2;
}
.item-2{
	height:100px;
	width:100px;
	background:blue;
	order:3;
}
.item-3{
	height:100px;
	width:100px;
	background:green;
	order:1;
}
